.study-card {
    height: 60%;
}
.question {
    text-align: left;
}
.answer {
    text-align: center;
}

.card-detail {
    font-size: 1.8em;
    font-weight: 500;
}

// .mat-icon {
//     font-size: 1.2px;
// }